body{
    background-color: #143f6b;
    margin: 0;
}

/* ul{
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
} */

.container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.piano{
    display: flex;
}
.white{
    width: 100px;
    height: 400px;
    background-color: white;
    border: 1px solid #333;
}

.black{
    width: 60px;
    height: 240px;
    background-color: black;
    margin-right: -30px;
    margin-left: -30px;
    z-index: 2
}

.pressed{
    border: 5px solid rgb(7, 7, 7);
}

@media screen and (max-width: 480px){
    .white{
        width: 80px;
        height: 200px;
    }
    
    .black{
        width: 60px;
        height: 140px;
        background-color: black;
        margin-right: -30px;
        margin-left: -30px;
        z-index: 2
    }
}